<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
</head>
<body>
<div class="container">
    <h1>Opdater eksisterende produtk</h1>
    <form action="/update" method="POST">
        <pre>
        <input id="id-field" name="product-id" type="hidden" th:value="${product.id}">

        <label for="name-field">Produkt navn:</label>
        <input id="name-field" name="product-name" type="text" th:value="${product.name}"/>

        <label for="price-field">Pris:</label>
        <input id="price-field" name="product-price" type="number" th:value="${product.price}"/>

        <input type="submit" value="Opdater produkt">
        </pre>
    </form>
</div>
</body>
</html>